<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <ion-item>
        <ion-label position="stacked" >Email</ion-label>
        <ion-input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Password</ion-label>
        <ion-input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Login</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>
