<ion-header>
  <ion-toolbar>
    <ion-title>
      Baskets
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!showReorderList" (click)="enableReorderList()">
        Reorder List
      </ion-button>
      <ion-button *ngIf="showReorderList" (click)="disableReorderList()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loggedIn">
    <ion-button id="newBasketButton" shape="round" (click)="showNewBasket()">New Basket</ion-button>
    <app-new-basket *ngIf="displayNewBasket"></app-new-basket>
    <app-basket-list></app-basket-list>
  </div>
  <ion-card *ngIf="!loggedIn">
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="/register">Sign up</ion-button>
      <br>
      <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="/login">Log in</ion-button>
    </div>
  </ion-card>
</ion-content>
