<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appHideHeader [header]="header.el" [componentEle]="ele.nativeElement" [scrollEvents]="true">
  <div class="scroll-content">
    <div *ngIf="!receivedQuestion">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    </div>
    <div *ngIf="receivedQuestion">
      <app-question *ngIf="question" [question]="question" ></app-question>
      <app-answers-list 
        [answers]="answers"
        [normalAnswers]="true">
      </app-answers-list>
    </div>
  </div>
</ion-content>
